<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400;1,700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    
<title>FullGymLogin</title>

    <link rel="stylesheet" href="/CSS/styleslogin.css">

    
</head>

<body>
    <header>
        
        <div class="logo-container">
            <h2><strong> Logo </strong></h2> 
            <h3><strong>FULL</strong>GYM </h3>
        </div>

        <nav class="menu-container">
            <ul>
                <li><a href="#">Planes</a></li>
                <li><a href="#">Actividades</a></li>
                <li><a href="#">Horarios</a></li>
                <li><a href="#">Sedes</a></li>
                <li><a href="#">Tienda</a></li>
            </ul>
        </nav>

        <nav class="menu-carrito">
            <ul>
                <button><i class="fa-solid fa-clipboard"></i></button>
                <li><a href="#"> || Perfil</a></li>
            <nav class="burguer-menu"> 
                <button><i class="fas fa-bars"></i></button>

            </ul>
        </nav>


    </header>
    <main>
      <div>  
       
        <h2> Email </h2>
        <h2> Contraseña </h2></li>
        <h3> Olvidaste tu contraseña </h3>
       <h2>Ingresar</h2>
            </div>
    </main>
    <footer>
        <nav><a href="#">Términos y Condiciones</a></nav>
        <nav><a href="#">Whatsapp</a></nav>
        <nav><a href="#">Tuitter</a></nav>
        <nav><a href="#">Instagram</a></nav>

    </footer>


</body>

</html>